* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    margin: 8px;
    border: 0;
    border-radius: 20px;
    color: white;
    background-color: darkgrey;
    padding: 0.8rem;
    transition: 0.15s;
    font-size: 14px;
    font-weight: 600;
}

button:hover {
    background-color: rgb(92, 92, 92);

}